a{color:brown;
    text-align: center; }
li{
    text-align: center; 
}
p{color:black}

.contenido{
    text-align: center;
    color:cadetblue;
}

.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
   
    padding: 20px;
    height: 100 vh;
}